
/**
* @package valkyrie.css
*
* @author Gersón Aarón Gómez Macías <Chief Technology Officer, ggomez@codemonkey.com.mx>
* @since August 18, 2018 <1.0.0> <@create>
* @version 1.0.0
* @summary cm-valkyrie-platform-website-template
*
* @author Irving Martinez Santiago <Chief Software Development Officer, imartinez@codemonkey.com.mx>
* @since October 15 - October 29, 2018 <1.0.0> <@update>
* @summary Integración del diseño del sitio Web. Se corrigieron errores de diseño - Se corrigieron errores de responsive y se finalizo.
*
* @author Alejandro Fernando Cabrera Contreras <Development, acabrera@codemonkey.com.mx>
* @since October 19, 2018 <1.0.0> <@update>
* @summary Integración del diseño del modulo de contacto
*
* @author Julian Alberto Canche Dzib <Software Development, jcanche@codemonkey.com.mx>
* @since October 16 - November 08, 2018 <1.0.0> <@update>
* @summary Integración del diseño del modulo de magazine del home - Se corrigieron errores de diseño - Responsivo de la pagina -  correccion del responsivo de la pagina.
*
* @author Gersón Aarón Gómez Macías <Developer, ggomez@codemonkey.com.mx>
* @since October 30, 2018 <1.0.0> <@update>
* @summary Se corrigieron errores de diseño.
*
* @copyright Copyright (C) Code Monkey S de RL <contact@codemonkey.com.mx, wwww.codemonkey.com.mx>. Todos los derechos reservados.
*/

/* Main header
------------------------------------------------------------------------------- */
header.main-header {
    width: 100%;
    height: 100px;
    position: fixed;
    transition: 400ms;
    z-index: 99;
}

header.main-header.down {
    background-color: #000;
    transition: 400ms;
    height: 80px;
}

header.main-header figure.logotype {
    width: auto;
    height: 100%;
    float: left;
}

header.main-header figure.logotype > a,
header.main-header figure.logotype > a > img {
    width: auto;
    height: 100%;
}

header.main-header nav.menu,
header.main-header nav.res-menu {
    width: auto;
    height: 100%;
    float: right;
}

header.main-header nav.menu {
    position: relative;
}

header.main-header nav.res-menu {
    display: none;
}

header.main-header nav.menu > a,
header.main-header nav.res-menu > a {
    width: auto;
    height: 100%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
}

header.main-header nav.menu > a > img {
    width: auto;
    height: 20px;
}

@media (max-width: 768px) {

    header.main-header nav.menu {
        width: 300px;
        height: 100vh;
        right: -300px;
        position: absolute;
        display: block;
        padding-top: 30px;
        box-sizing: border-box;
        overflow-y: auto;
        background-color: #000;
        transition: 400ms;
    }

    header.main-header nav.menu.open {
        right: 0px;
        transition: 400ms;
    }

    header.main-header nav.res-menu {
        display: block;
    }

    header.main-header nav.menu > a {
        width: 100%;
        height: 30px;
        font-weight: 300;
        margin-bottom: 10px;
        color: #fff;
    }
}

/* Home
------------------------------------------------------------------------------- */
section.home {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #424242;
}

section.home.white {
    background-color: #f2f2f2;
}

/* Slideshow */
section.home > #slideshow {
    -webkit-clip-path: polygon(100% 80%, 50% 100%, 0 80%, 0 0, 100% 0);
    clip-path: polygon(100% 80%, 50% 100%, 0 80%, 0 0, 100% 0);
}

section.home > #slideshow div.item {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Background */
section.home > figure {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    line-height: 0px;
    -webkit-clip-path: polygon(100% 80%, 50% 100%, 0 80%, 0 0, 100% 0);
    clip-path: polygon(100% 80%, 50% 100%, 0 80%, 0 0, 100% 0);
}

section.home > figure > img {
    width: 100%;
    height: auto;
    min-height: 100%;
    position: fixed;
}

/* Title */
section.home > aside {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    -webkit-clip-path: polygon(100% 80%, 50% 100%, 0 80%, 0 0, 100% 0);
    clip-path: polygon(100% 80%, 50% 100%, 0 80%, 0 0, 100% 0);
    z-index: 1;
}

section.home > aside > h1 {
    font-size: 65px;
    font-weight: 200;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #fff;
}

section.home > aside > h1 > span {
    display: block;
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
    letter-spacing: 12px;
}

/* Responsive */
@media (max-width: 768px) {

    section.home,
    section.home > #slideshow div.item {
        height: 500px;
    }

    section.home > figure {
        height: 100%;
    }

    section.home > aside {
        text-align: center;
    }

    section.home > aside > h1 {
        font-size: 30px;
    }
}

@media (max-width: 425px) {

    section.home > figure > img {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 375px) {

    section.home > aside > h1 {
        font-size: 38px;
    }
}

@media (max-width: 320px) {

    section.home > aside > h1 {
        font-size: 36px;
        letter-spacing: 3px
    }

    section.home > aside > h1 > span {
        letter-spacing: 3px;
    }
}

/* Home - Categories
------------------------------------------------------------------------------ */
section.categories {
    width: 100%;
    position: relative;
    padding: 100px 0px;
    box-sizing: border-box;
    background-color: #424242;
}

section.categories:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(66, 66, 66, 0);
	border-top-color: #424242;
	border-width: 70px;
	margin-left: -70px;
    z-index: 98;
}

/* Item */
section.categories article {
    width: calc(100% / 2);
    height: 350px;
    position: relative;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

section.categories article > figure {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    line-height: 0px;
}

section.categories article > figure > img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

section.categories article > h4,
section.categories article > a {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 34px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px;
    box-sizing: border-box;
    transition: 400ms;
}

section.categories article > h4 {
    align-items: flex-end;
    opacity: 1;
}

section.categories article:hover h4 {
    opacity: 0;
    transition: 400ms;
}

section.categories article > a {
    align-items: center;
    text-decoration: none;
    opacity: 0;
    background: none;
}

section.categories article:hover a {
    opacity: 1;
    transition: 400ms;
}

/* Responsive */
@media (max-width: 768px) {

    section.categories article {
        height: 300px;
    }
}

@media (max-width: 425px) {

    section.categories:after {
        display: none;
    }

    section.categories article {
        width: 100%;
    }

    section.categories article > h4,
    section.categories article > a {
        font-size: 24px;
    }
}

/* Home - Map
------------------------------------------------------------------------------ */
section.map {
    width: 100%;
    position: relative;
}

section.map > #map {
    width: 100%;
    height: 100vh;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 400ms;
}

section.map > #map:hover {
    -webkit-filter: none;
    filter: none;
    transition: 400ms;
}

section.map > form {
    width: 300px;
    top: 20px;
    right: 20px;
    position: absolute;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    z-index: 98;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

/* Responsive */
@media (max-width: 768px) {

    section.map{
        width: 100%;
    }
}

@media (max-width: 425px) {

    section.map{
        height: auto;
    }
    section.map form{
        width: 100%;
        top: 0px;
        right: 0px;
        position: static;
    }
}

/* Home - Magazine
------------------------------------------------------------------------------ */
section.magazine {
    width: 100%;
    padding: 100px 0px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

section.magazine.home {
    background-color: #fff;
    overflow: hidden;
    height: auto;
}

/* Item */
section.magazine article {
    width: calc(100% / 3);
    position: relative;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

section.magazine article > figure {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    line-height: 0px;
}

section.magazine article > figure > img {
    width: auto;
    height: 100%;
}

section.magazine article > h4,
section.magazine article > span,
section.magazine article > a {
    top: 10px;
    right: 10px;
    bottom: 10px;
    left: 10px;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 40px;
    box-sizing: border-box;
    font-weight: 300;
    color: #fff;
    transition: 400ms;
}

section.magazine article > h4 {
    align-items: flex-end;
    font-size: 28px;
    padding-bottom: 68px;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 1;
}

section.magazine article:hover > h4 {
    opacity: 0;
    transition: 400ms;
}

section.magazine article > span {
    align-items: flex-end;
    font-size: 18px;
    opacity: 1;
}

section.magazine article:hover > span {
    opacity: 0;
    transition: 400ms;
}

section.magazine article > a {
    align-items: center;
    font-size: 28px;
    text-decoration: none;
    opacity: 0;
}

section.magazine article:hover > a {
    opacity: 1;
    transition: 400ms;
}

/* Responsive */
@media (max-width: 768px) {

    section.magazine article {
        width: 100%;
        padding: 0px;
        margin: 10px 0px;
        float: none;
    }

    section.magazine article > figure {
        height: 300px;
    }

    section.magazine article > figure > img {
        width: 100%;
        height: auto;
    }

    section.magazine article > h4,
    section.magazine article > span,
    section.magazine article > a {
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
}

@media (max-width: 425px) {

    section.magazine article > figure {
        height: 300px;
    }

    section.magazine article > figure > img {
        width: auto;
        height: 100%;
    }
}

@media (max-width: 320px) {

    section.magazine article > h4 {
        font-size: 26px;
    }

    section.magazine article > span {
        font-size: 16px;
    }
}

/* Magazine article
-------------------------------------------------------------------------------*/
section.magazine-description {
    width: 100%;
    height: auto;
    padding: 100px 0px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

section.magazine-description div.date {
    width: 50%;
    padding-top: 10px;
    box-sizing: border-box;
    float: right;
    text-align: right;
}

section.magazine-description div.author {
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

section.magazine-description div.date > p,
section.magazine-description div.author > p {
    color: #616161;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 3px;
}

section.magazine-description div.author > img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

section.magazine-description div.description {
    width: 100%;
    padding: 50px;
    margin: 100px 0px 0px 0px;
    padding: 50px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    transition: 0.25s;
}

section.magazine-description div.description > p {
    text-align: justify;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.70;
    color: #616161;
}

/* Home - Subscription
------------------------------------------------------------------------------ */
section.subscription {
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section.subscription::before {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    content: '';
    background-color: rgba(0, 0, 0, 0.2);
}

/* Form */
section.subscription > form {
    width: 90%;
    max-width: 480px;
    height: 450px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0px 40px 40px 40px;
    box-sizing: border-box;
    color: #fff;
    background-color: #fff;
    -webkit-clip-path: polygon(100% 80%, 50% 100%, 0 80%, 0 0, 100% 0);
    clip-path: polygon(100% 80%, 50% 100%, 0 80%, 0 0, 100% 0);
}

section.subscription > form > h4 {
    font-size: 24px;
    font-weight: 900;
    text-align: center;
    color: #757575;
    margin-bottom: 10px;
}

section.subscription > form > p {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    color: #757575;
    margin-bottom: 20px;
}

section.subscription > form > fieldset.input-group {
    width: 100% !important;
}

section.subscription > form > fieldset.input-group > label > input {
    height: 50px;
    padding-left: 20px;
}

section.subscription > form > a {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

/* Properties
------------------------------------------------------------------------------ */
section.properties {
    width: 100%;
    padding: 100px 0px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

/* Filter */
section.properties form {
    width: 30%;
    float: right;
    padding: 30px;
    box-sizing: border-box;
    background-color: #e5e5e5;
}

section.properties form > fieldset.input-group > label > input,
section.properties form > fieldset.input-group > label > select {
    border: 1px solid #bdbdbd;
}

/* Properties */
section.properties aside {
    width: 70%;
    float: left;
}

/* Item */
section.properties aside > article {
    width: calc((100% - 20px) / 2);
    float: left;
    margin: 0px 10px 10px 0px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

section.properties aside > article > figure {
    width: 100%;
    height: 250px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

section.properties aside > article > figure > img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

section.properties aside > article > figure > span.price {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    position: absolute;
    display: flex;
    align-items: flex-end;
    padding: 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 400ms;
}

section.properties aside > article:hover > figure > span.price {
    background-color: rgba(0, 0, 0, 0);
    transition: 400ms;
}

section.properties aside > article > figure > span.price > strong {
    margin: 0px 4px;
}

section.properties aside > article > figure > span.featured {
    width: 200px;
    top: 17px;
    left: -67px;
    position: absolute;
    float: left;
    display: inline-block;
    padding: 15px 0px;
    box-sizing: border-box;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    background-color: #274abb;
    transform: rotate(-45deg);
}

section.properties aside > article > figure > span.type {
    top: 15px;
    right: 15px;
    position: absolute;
    padding: 15px 10px;
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
}

section.properties aside > article > aside {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
}

section.properties aside > article > aside.gray {
    background-color: #e5e5e5;
}

section.properties aside > article > aside > h4 {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #212121;
}

section.properties aside > article > aside > span {
    width: calc(100% / 2);
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-weight: 300;
    color: #757575;
}

section.properties aside > article > aside > span > i {
    font-size: 14px;
    margin-right: 2px;
}

section.properties aside > article > aside > a {
    float: right;
}

/* Responsive */
@media (max-width: 768px) {

    section.properties {
        padding: 50px 0px;
    }

    section.properties aside {
        width: 100%;
        float: none;
    }

    section.properties aside > article {
        margin-bottom: 30px;
    }

    section.properties form {
        width: 100%;
        margin-bottom: 50px;
    }
}

@media (max-width: 425px) {

    section.properties aside > article {
        width:100%;
    }
}

/* Properties datasheet
-------------------------------------------------------------------------------*/
section.datasheet {
    width: 100%;
    padding: 100px 0px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

/* Details */
section.datasheet aside {
    width: calc(70% - 2px);
    float: left;
}

section.datasheet aside > div.item {
    width: 100%;
    padding: 40px;
    border-bottom: 2px solid #f2f2f2;
    box-sizing: border-box;
    background-color: #e5e5e5;
}

section.datasheet aside > div.item.featured {
    width: calc(100% - 250px);
    position: relative;
    float: right;
    padding: 40px 40px 40px 60px;
}

section.datasheet aside > div.item.featured.right {
    float: left;
    padding: 40px 60px 40px 40px;
}

section.datasheet aside > div.item.featured > figure {
    width: 290px;
    height: 200px;
    top: 30px;
    right: calc(100% - 40px);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    line-height: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

section.datasheet aside > div.item.featured.right > figure {
    right: -250px;
}

section.datasheet aside > div.item.featured > figure > img {
    width: auto;
    height: 100%;
    min-width: 100%;
}

section.datasheet aside > div.item > h4 {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    color: #757575;
}

section.datasheet aside > div.item > span {
    display: flex;
    align-items: center;
    margin-left: 8px;
    float: left;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    color: #757575;
}

section.datasheet aside > div.item > span.right {
    float: right;
    margin-left: 0px;
    margin-right: 8px;
}

section.datasheet aside > div.item > span.bookmark > i {
    font-size: 20px;
    color: #ffc107;
}

section.datasheet aside > div.item > span.available {
    color: #4caf50;
}

section.datasheet aside > div.item > span.highlighted {
    font-size: 24px;
    font-weight: 200;
}

section.datasheet aside > div.item > span.list {
    float: none;
    font-size: 12px;
    font-weight: 400;
    text-transform: none;
}

section.datasheet aside > div.item > h4 > i,
section.datasheet aside > div.item > span > i {
    font-size: 18px;
    margin: 0px 2px 2px 0px;
}

section.datasheet aside > div.item > span > strong {
    margin: 0px 5px;
}

section.datasheet aside > #map {
    width: 100%;
    height: 400px;
    margin-top: 40px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}

/* Interested form */
section.datasheet form {
    width: 30%;
    float: right;
    padding: 30px;
    box-sizing: border-box;
    margin-bottom: 2px;
    background-color: #e5e5e5;
}

section.datasheet form > h4 {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #757575;
    margin-bottom: 20px;
}

section.datasheet form > fieldset.input-group > label > input,
section.datasheet form > fieldset.input-group > label > select,
section.datasheet form > fieldset.input-group > label > textarea {
    border: 1px solid #bdbdbd;
}

/* Responsive */
@media (max-width: 768px) {

    section.datasheet aside {
        width: 100%;
        float: none;
    }

    section.datasheet form {
        width: 100%;
        margin: 20px 0px;
    }

    section.datasheet aside > div.item {
        margin-bottom: 20px;
    }

    section.datasheet aside > div.item > span.highlighted {
        font-size: 20px;
        font-weight: 300;
    }

    div.cm-gallery-style-1 > figure {
        width: calc(100% / 3);
        height: 200px;
        overflow: hidden;
    }

    div.cm-gallery-style-1 > figure > img {
        width: 100% !important;
        height: auto !important;
        min-height: 100% !important;
        max-height: 100% !important;
    }
}

@media (max-width: 425px) {

    section.datasheet aside > div.item.featured,
    section.datasheet aside > div.item.featured.right {
        width: 100%;
        padding: 30px;
        float: none;
    }

    section.datasheet aside > div.item.featured > figure {
        width: 100%;
        height: auto;
        position: static;
    }

    section.datasheet aside > div.item.featured > figure > img {
        width: 100%;
        height: auto;
    }

    section.datasheet aside > div.item > h4 {
        margin-top: 20px;
    }

    section.datasheet aside > div.item > span.highlighted {
        font-size: 20px;
    }

    div.cm-gallery-style-1 > figure {
        width: 100% !important;
    }

    section.datasheet aside > div.item > p {
        text-align: justify;
    }

    section.datasheet aside > div.item > span {
        margin-bottom: 5px;
    }

    section.datasheet aside > div.item > span.right {
        float: left;
        margin-left: 8px;
    }
}

@media (max-width: 320px) {

    section.datasheet aside > div.item.featured,
    section.datasheet aside > div.item.featured.right {
        padding: 20px;
    }
}

/* Contact
------------------------------------------------------------------------------ */
section.contact {
    width: 100%;
    height: auto;
    padding: 100px 0px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

section.subtitle {
    width: 100%;
    padding: 100px 0px 0px 0px;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

section.subtitle h4 {
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

section.contact form[name="contact"] {
    width: 600px;
}

section.contact form[name="contact"] > h2 {
    font-weight: 300;
    margin: 0;
    padding: 0px 0px 50px 0px;
    box-sizing: border-box;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 24px;
    text-align: center;
    font-size: 30px;
}

section.info-contact {
    width: 100%;
    height: auto;
    padding: 100px 0px;
    box-sizing: border-box;
    background-color: #eee;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.info-contact div.info {
    border-radius: 3px;
    border: 1px solid #757575;
    padding: 50px 20px 25px 20px;
    box-sizing: border-box;
    position: relative;
}

section.info-contact div.info > div.icon {
    width: 60px;
    height: 60px;
    top: -30px;
    left: 0;
    right: 0;
    font-size: 24px;
    color: #1e73be;
    position: absolute;
    margin: auto;
    border: 1px solid #757575;
    border-radius: 50%;
    line-height: 65px;
    text-align: center;
    background-color: #757575;
    cursor: pointer;
}

section.info-contact div.info > div.icon i {
    color: #fff;
}

section.info-contact div.info > h4 {
    color: #757575;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
    text-transform: uppercase;
}

section.info-contact div.info > p {
    color: #757575;
    font-size: 16px;
    font-weight: 300;
}

@media (max-width: 768px) {

    section.info-contact .row .span4 {
        width: calc(100% / 2);
    }

    section.info-contact .row .padding-right-20 {
        padding-right: 20px !important;
    }

    section.info-contact .row [class*="span"].prefix2 {
        margin-left: 0;
    }

    section.info-contact .row [class*="span"].suffix2 {
        margin-right: 0;
    }
}

@media (max-width: 425px) {

    section.contact form[name="contact"] {
        width: 400px;
        padding: 20px;
        box-sizing: border-box;
    }

    section.info-contact .row .span4 {
        width: 100%;
    }

    section.info-contact .row .padding-right-20 {
        padding-right: 0px !important;
    }

    section.info-contact div.info.email {
        margin-bottom: 50px;
    }
}

/* Main footer
------------------------------------------------------------------------------ */
footer.main-footer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #e5e5e5;
}

footer.main-footer > figure,
footer.main-footer > figure > img {
    width: 200px;
    line-height: 0px;
}

footer.main-footer div.social-media {
    width: 100%;
    margin: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.main-footer div.social-media > a {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    font-size: 25px;
    text-decoration: none;
    color: #757575;
    background-color: #fff;
}

footer.main-footer > span {
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    color: #757575;
}
